Source: libupnpp3
Section: contrib/sound
Priority: extra
Maintainer: Jean-Francois Dockes <jf@dockes.org>
Build-Depends: debhelper (>= 8.0.0), autotools-dev, pkg-config,
               libupnp6-dev, libexpat1-dev, libcurl-dev
Standards-Version: 3.9.5
Homepage: http://www.lesbonscomptes.com/upmpdcli

Package: libupnpp3-dev
Section: contrib/libdevel
Architecture: any
Depends: libupnpp3, ${misc:Depends}
Description: C++ layer over libupnp (development files)
 Development library and include files for libupnpp

Package: libupnpp3
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: C++ layer over libupnp.
 libupnpp wraps libupnp calls and data inside easier to use C++ constructs.
 It can be used to build either devices or control points. 
 The library exists mostly to the support the upmpdcli media renderer and
 the upplay control point and its interface is probably not ready or stable
 enough for wider use.
