[Desktop Entry]
Type=Application
Name=Jupii
Icon=harbour-jupii
NoDisplay=true
MimeType=audio/*;video/*;x-scheme-handler/http;x-scheme-handler/https;
X-Maemo-Service=org.mkiol.jupii
X-Maemo-Method=org.mkiol.jupii.Playlist.openUrl
