name: Sync & Build Jupii-Next (On New Commits)

on:
  #schedule:
    #- cron: "0 * * * *" 
  workflow_dispatch: 
  
jobs:
  build-and-copr:
    runs-on: ubuntu-latest
    container:
      image: fedora:latest

    env:
      COPR_LOGIN: ${{ secrets.COPR_LOGIN }}
      COPR_USER: ${{ secrets.COPR_USER }}
      COPR_TOKEN: ${{ secrets.COPR_TOKEN }}

    steps:
      - name: Install dependencies
        run: |
          dnf install -y git rpm-build rpmdevtools python3-pip python3-requests python3-requests-gssapi copr-cli curl jq

      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          ref: master
          fetch-depth: 0

      - name: Sync and Check for New Commits
        id: check_sync
        run: |
          git config --global --add safe.directory "$GITHUB_WORKSPACE"
          git config --global user.name "GitHub Action"
          git config --global user.email "action@github.com"
          git remote add upstream https://github.com/mkiol/Jupii.git || true
          git fetch upstream master
          MY_HASH=$(git rev-parse HEAD)
          UPSTREAM_HASH=$(git rev-parse upstream/master)
          echo "My Last Commit: $MY_HASH"
          echo "Upstream Last Commit: $UPSTREAM_HASH"
          if [ "$MY_HASH" = "$UPSTREAM_HASH" ]; then
            echo "No new commits found. Skipping."
            echo "updated=false" >> $GITHUB_OUTPUT
          else
            echo "New commits detected!"
            git merge upstream/master -m "Sync with upstream"
            echo "updated=true" >> $GITHUB_OUTPUT
          fi

      - name: Prepare and Build SRPM
        if: steps.check_sync.outputs.updated == 'true'
        run: |
          rpmdev-setuptree
          git archive --format=tar.gz --prefix=Jupii/ -o ~/rpmbuild/SOURCES/Jupii.tar.gz HEAD
          CURRENT_DATE=$(date +'%Y%m%d')
          COMMIT_HASH=$(git rev-parse --short HEAD)
          sed -i "s/%BUILD_DATE%/$CURRENT_DATE/g" jupii-next.spec
          sed -i "s/%COMMIT_HASH%/$COMMIT_HASH/g" jupii-next.spec
          cp jupii-next.spec ~/rpmbuild/SPECS/
          rpmbuild -bs ~/rpmbuild/SPECS/jupii-next.spec

      - name: Submit to Copr
        if: steps.check_sync.outputs.updated == 'true'
        run: |
          mkdir -p ~/.config
          cat <<EOF > ~/.config/copr
          [copr-cli]
          login = $COPR_LOGIN
          username = $COPR_USER
          token = $COPR_TOKEN
          copr_url = https://copr.fedorainfracloud.org
          EOF
          copr-cli build $COPR_USER/jupii ~/rpmbuild/SRPMS/*.src.rpm

      - name: Push Changes to My Fork
        if: steps.check_sync.outputs.updated == 'true'
        run: |
          git push origin master
